@charset "utf-8";

/*font-family: 'Raleway', sans-serif;*/

body {
	font-family: 'Raleway', sans-serif;
}

*about*/
#about {
	text-align: center;
	padding-top: 10%;
}

.about article {
	margin-top: 10%;
	margin-bottom: 10%;
}
.about article h2 {
	text-align: center;